body{
    background-color: white;
}
header{
    background-color: silver;
}

nav a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    color: black;
    text-decoration: none;
}


/* 
nav {
    height: 4em;
    width: 100%;
    background-color: #c6812f;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: solid;
    border-bottom: solid;
    border-width: 3px;
    border-color: rgb(0, 0, 0);
    text-decoration: none;
} */