@font-face {
    font-family: 'LeagueSpartan';
    src: url(/fonts/league-spartan.bold.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;600;700;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'LeagueSpartan', sans-serif;
    /* Colors */
    --color-primary: #6d59a8;
    --color-secondary: #3b3a51;
    --color-accent: #E15120;
    --color-highlight: #ffd166;
    --color-inverted: #ffffff;
    --color-inverted-muted: #dee7ea;
    --color-neutral: #23252F;
    --color-neutral-muted: #1A1C23;
    --color-code-1: #ffd166;
    --color-code-2: #ef476f;
    --color-code-3: #9f7aea;
    --color-code-4: #e53e3e;
}

.header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.hider1 {
    background-color: white;
    height: 200px;
    width: 100%;
    position: absolute;
    margin-top: 150px;
    z-index: 5;
}

.hider1, .hider2 {
    background-color: white;
    height: 200px;
    width: 100%;
    position: absolute;
    margin-top: 250px;
    z-index: 2;
}

.hider2 {
    margin-top: 400px;
    z-index: 4;
}

.header h1 {
    font-size: 100px;
    animation: slideup 1.5s;
    width: 100%;
    z-index: 1;
}

.header h2 {
    font-size: 50px;
    animation: slideup 1.5s;
    width: 100%;
    z-index: 3;
}

@keyframes slideup {
    from {
        transform: translateY(130%);
    }
    to {
        transform: translateY(0%);
    }
}

.about {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    padding-left: 10%;
    padding-right: 10%;

    /* background-color: #555555; */
}

.skills {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;

    /* background-color: #555555; */
}

.contact {
    height: 60vh;
    display: flex;
    align-items: center;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;
    padding-left: 25%;
    padding-right: 25%;

    /* background-color: #303030; */
}

.behind {
    padding-top: 45px;
    position: absolute;
    font-size: 200px;
    color: rgb(236, 236, 236);
    z-index: -1;
}

.contact img {
    height: 100px;
    width: auto;
}

.contact img:hover {
    transform: scale(1.03);
}