/* Font Faces */
@font-face {
    font-family: "ApercuBold";
    src: url(/fonts/Apercu\ Bold.otf);
}

@font-face {
    font-family: "ApercuLight";
    src: url(/fonts/Apercu\ Light.otf);
}

@font-face {
    font-family: "Apercu";
    src: url(/fonts/Apercu\ Regular.otf);
}

/* Key frames */

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    66% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-60px);
    }

    33% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(60px);
    }

    33% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(20px)
    }

    100% {
        transform: translateY(0px)
    }
}

* {
    padding: 0;
    margin: 0;
    font-family: ApercuLight;
    text-align: center;

    /* border: .1px solid red; */
}

/* Universal Styling */

.page {
    height: 100vh;
    width: 100%;
}

.title {
    font-size: 96px;
    font-family: ApercuBold;
}

.subtitle {
    font-size: 42px;
    font-family: Apercu;
}

.text {
    font-size: 32px;
    font-family: ApercuLight;
}

.container {
    width: 70%;
}

/* Styling for Header */

#header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#name {
    animation: fadeInDown 3s;
}

#position {
    animation: fadeInUp 4.5s;
}

/* Styling for About */

#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.languages-and-skills {
    display: flex;
    flex-direction: column;

    margin-top: 30px;
}

.languages-title, .skills-title {
    margin-bottom: 20px;
}

.list-of-languages, .list-of-skills {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    margin-bottom: 20px;
}

.language, .skill {
    font-size: 26px;

    background-color: #171717;
    color: white;

    border-radius: 4px;
    padding: 4px 10px;

    margin-right: 5px;
    margin-left: 5px;
}

.language:hover, .skill:hover {
    cursor: pointer;

    transform: translateY(-2px) translateX(2px);
}

#java, #python, #css, #api, #springboot, #databases, #thymeleef, #tdd {
    background-color: #002b5b;
}

#javascript, #html, #cpp, #restcontrollers, #mvc, #singlepage, #agile, #github {
    background-color: #5b0000;
}

/* Styling for Projects */

#projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: auto;

    padding-top: 100px;
    padding-bottom: 100px;
}

.project-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project {
    padding-top: 40px;
}

.project-title {
    padding-bottom: 40px;
}

.img img {
    height: 400px;
    width: 400px;

    border: 2px black solid;
    border-radius: 6px;

    margin-bottom: 30px;
}

.description {
    font-size: 24px;
}

/* Styling for Footer */

.bp-footer {
    height: 50px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}



/* EXTRAS */

.downArrow {
    height: 30px;
    width: 30px;

    position: absolute;
    bottom: 0;

    margin-bottom: 50px;

    animation: bounce 3s infinite;
}

.cursor {
    height: 26px;
    width: auto;

    position: fixed;
    top: 0;
    right: 0;

    margin-right: 48px;
    margin-top: 60px;

    animation: bounce 2s infinite;
}

.logo {
    height: 50px;
    width: auto;

    position: fixed;
    top: 0;
    right: 0;

    margin-right: 24px;
    margin-top: 12px;
}

.logo:hover {
    cursor: pointer;
}

.dark {
    background-color: #171717;
    color: white;
}

.inverted {
    filter: invert(100%);
}

.dark-border {
    border: 2px white solid;
}