* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'SF UI Text Regular', Arial, Helvetica, sans-serif;
    color: black;
}

:root {
    --primary: #6466D1;
    --secondary: #1A1E3D;
    --dark: #59607B;
    --regular: #8086A6;
    --light: #E6E7F0;
    --white: #F5F7FB;
}

.heavy {
    font-family: 'SF UI Text Bold';
}

.primary-text {
    color: var(--primary);
}

.secondary-text {
    color: var(--secondary);
}

.dark-text {
    color: var(--dark);
}

.regular-text {
    color: var(--regular);
}

.light-text {
    color: var(--light);
}

.white-text {
    color: var(--white);
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

p {
    font-size: 16px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: var(--primary);
    transition: .2s ease-in-out;
}

li {
    list-style: none;
}

a:hover {
    color: var(--dark);
}

.tiny {
    font-size: 14px;
}

body {
    background-color: var(--white);
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}


/* NAVIGATION STYLING */

nav {
    justify-content: center;
    align-items: center;

    width: 100%;
    padding: 4rem 6rem;
    
    background: transparent;
}

.nav-container {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
}

.nav-logo {
    height: 4rem;
    width: auto;
}

.nav-bars {
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 28px;
    height: 22px;
    z-index: 10;
    top: 1.5rem;
    right: 1.5rem;
}

.nav-bars:hover {
    cursor: pointer;
}

.bar {
    position: absolute;
    left: 0;
    width: 28px;
    height: 4px;
    background-color: var(--primary);
    transition: transform 0.3s ease, opacity 0.2s ease;
}

.nav-bars.active .bar:nth-child(1) {
    top: 9px;
    transform: rotate(45deg);
}

.nav-bars.active .bar:nth-child(2) {
    opacity: 0;
}

.nav-bars.active .bar:nth-child(3) {
    top: 9px;
    transform: rotate(-45deg);
}

.bar:not(:last-child) {
    margin-bottom: 6px;
}

.bar:nth-child(1) {
    top: 0;
}

.bar:nth-child(2) {
    top: 9px;
}

.bar:nth-child(3) {
    top: 18px;
}

.nav-menu {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;

    width: 0;
    height: 0;

    background-color: white;

    overflow: hidden;
    transition: all 0.35s ease;

    box-shadow: 0 10px 20px rgba(0,0,0,0.05);
}

.nav-menu.active {
    width: 260px;
    height: 320px;
    padding: 4rem 1.5rem 1.5rem 1.5rem;
}


.nav-menu-links {
    list-style: none;
    opacity: 0;
    transition: opacity 0.2s ease;
}

.nav-menu.active .nav-menu-links {
    opacity: 1;
    transition-delay: 0.15s;
}

.nav-menu-links li {
    margin-bottom: 1.2rem;
}

/* STYLING FOR THE HOME PAGE HEADER */

header {
    height: 70vh;
}

/* STYLING FOR THE FOOTER */

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: var(--primary);

    width: 100%;
    padding: 4rem 6rem;
}

.footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
    width: 60rem;
}

.footer-list li {
    margin-top: 1.25rem;
}

.footer-list li a {
    color: var(--white);
}